{% extends 'base.html' %}

{% block title %} About | BodyBagz{% endblock %}

{% block content %}


    <div class="content-container">
        

        

        <div class="about-container">

            <div class="about-content">

                <div>
                    <div class="heading">
                        <h2>Who am i?</h2>
                    </div>
                    <p>Hi! My name is Craig. I'm a horror fanatic from Shipley, West Yorkshire. I've been watching horror films from an early age and I've always wanted to share my passion with people and that's how BodyBagz was born. </p>
                </div>

                <div>
                    <div class="heading">
                        <h2>What is bodybagz</h2>
                    </div>
                    <p></p>
                </div>

                <div>
                    <div class="heading">
                        <h2>Roadmap</h2>
                    </div>
                    <p>We launched on March 7th but there's still more to come. In the future, I want to add:</p>
                    <ul>
                        <li>User registration and profiles</li>
                        <li>User comments on posts</li>
                    </ul>
                </div>

                <div>
                    <div class="heading">
                        <h2>Under The Hood</h2>
                    </div>
                    <p>I built BodyBagz myself from the ground up. The backend was built in Python. </p>
                </div>

                <div>
                    <div class="heading">
                        <h2>Privacy and Cookies</h2>
                    </div>
                        <p>BodyBagz uses a single session cookie for admin authentication purposes only. We don't track visitors, serve ads, or share any data with third parties. Any messages submitted via the contact form are stored securely and used only to respond to your enquiry.</p>
                </div>


            </div>

        </div>






    </div>




{% endblock %}