<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BodyBagz | Horror Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>

    <div class="top-container">
        <div class="top-content">
            
        </div>
    </div>

    <header>
        <div class="header-content">
            <h1>BodyBagz</h1>
        </div>
    </header>

    <main>



        <div class="content-container">


            <!--LEFT-->
            <div class="left">


                
                <div class="featured-container">
                    <div class="featured-content">

                        <div>
                            <div class="featured-info">
                                <h3>IT: Welcome to Derry Renewed For Season Two</h3>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="posts-container">
                    <div class="posts-content">
                        <div>
                            <img src="/static/images/scream7.webp">
                            <p>Scream 7</p>
                        </div>
                        <div>
                            <img src="/static/images/evildead.jpg">
                            <p>Evil Dead Burn</p>
                        </div>
                        <div>
                            <img src="/static/images/mummy.jpg">
                            <p>The Mummy</p>
                        </div>
                        <div>
                            <img src="/static/images/strangers.jpg">
                            <p>Strangers: Chapter Three</p>
                        </div>
                    </div>
                </div>


                




            </div>
            <!--END LEFT-->


            <!--RIGHT-->
            <div class="right">

                <section class="about-me">
                    <h3>About Me</h3>
                    <img src="" alt="">
                    <p>I'm a horror enthusiast from Bradford with a passion for all things creepy, unsettling, and downright terrifying. From classic slashers to indie survival horror games, if it gives you nightmares, I'm probably writing about it.</p>
                </section>

                <section class="search">
                    <h3>Search</h3>
                    <form>
                        <input type="text" name="search" placeholder="Search">
                        <button type="submit">OK</button>
                    </form>
                </section>

                <section>
                    <h3>Upcoming Horror</h3>
                </section>

                <section>
                    <h3>Recent Posts</h3>
                </section>

                <section class="categories">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="#">Survival Horror Games</a> (7)</li>
                        <li><a href="#">Upcoming Movies</a> (26)</li>
                        <li><a href="#">Opinon</a> (26)</li>
                        <li><a href="#">Reviews</a> (26)</li>
                    </ul>
                </section>

                

                <section class="movie-of-the-day">
                    <h3>Movie of the Day</h3>
                    <div class="image-container">
                        <img src="/static/images/phantasm-cover-pic.webp">
                    </div>
                </section>

                <section class="tags">
                    <h3>Popular Tags</h3>
                    <a href="#">Subspecies</a>
                    <a href="#">Phantasm</a>
                    <a href="#">Gore</a>
                    <a href="#">Yautja</a>
                    <a href="#">Exorcist</a>
                    <a href="#">Necronomicon</a>
                    <a href="#">Cryptozoology</a>
                    <a href="#">Cult</a>
                    <a href="#">Demons</a>
                    <a href="#">Grudge</a>
                    <a href="#">Occult</a>
                </section>

                <section class="socials">
                    <h3>Socials</h3>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                        
                    </ul>
                </section>
                
            </div>
            <!--END RIGHT-->




        </div>



    </main>

    

    


</body>
</html>